# -------------------
# Node / React
# -------------------
node_modules/
dist/
.env

# -------------------
# .NET
# -------------------
bin/
obj/
.vs/

# -------------------
# App settings
# -------------------
appsettings.Development.json

# -------------------
# Database tools
# -------------------
*.mwb

# -------------------
# OS junk
# -------------------
.DS_Store
Thumbs.db
