# -------------------
# Node / React
# -------------------
node_modules/
dist/
build/
.env
.env.*

# -------------------
# .NET
# -------------------
bin/
obj/
.vs/
*.user
*.suo

# -------------------
# Logs
# -------------------
*.log

# -------------------
# App settings
# -------------------
appsettings.Development.json

# -------------------
# Database tools
# -------------------
*.mwb

# -------------------
# OS junk
# -------------------
.DS_Store
Thumbs.db
