.footer {
  width: 100%;
  height: 40px;

  background-color: #0f172a;
  color: #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 13px;
}

.footer p {
  margin: 0;
}


  


