/* Page Layout */
.fp-page {
  background-image: url("/mytravelbglogo.png");
    background-size: cover;
  background-position: center;
  padding: 200px 590px;   
  border-radius: 20px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.15);
  max-width: 1550px;
  width: 100%;
}

/* Card */
.fp-card {
  background: #ffffff;
  width: 380px;
  padding: 32px 28px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

/* Title */
.fp-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

/* Subtitle */
.fp-subtitle {
  text-align: center;
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 20px;
}

/* Input */
.fp-input {
  width: 100%;
  padding: 12px 14px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  margin-bottom: 16px;
}

.fp-input:focus {
  outline: none;
  border-color: #3b3a4f;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.15);
}

/* Button */
.fp-button {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  font-weight: 500;
  background: #070707;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fp-button:hover {
  background: #4d4c54;
  transform: translateY(-1px);
}

/* Messages */
.fp-error {
  color: #dc2626;
  font-size: 13px;
  margin-bottom: 12px;
  text-align: center;
}

.fp-success {
  color: #16a34a;
  font-size: 13px;
  margin-bottom: 12px;
  text-align: center;
}

/* Footer */
.fp-footer {
  margin-top: 18px;
  font-size: 14px;
  text-align: center;
}

.fp-footer a {
  color: #060607;
  text-decoration: none;
  font-weight: 500;
}

.fp-footer a:hover {
  text-decoration: underline;
}
