.login-container {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.login-form {
  background-color: #fff;
  padding: 40px 40px;
  width: 450px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.login-bg-card {
   background-image: url("/mytravelbglogo.png");
    background-size: cover;
  background-position: center;
  padding: 120px 50px;   
  border-radius: 20px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.15);
  max-width: 1550px;
  width: 100%;
}


.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
}

.login-error {
  color: #dc2626;
  font-size: 14px;
  margin-bottom: 12px;
  text-align: center;
}

.login-input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 16px;
  font-size: 14px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-sizing: border-box;
}

.login-input:focus {
  outline: none;
  border-color: #09090a;
  box-shadow: 0 0 3px #111317;
}

.login-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #0e0e0f;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover:not(:disabled) {
  background-color: #0f0f0f;
}

.login-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.login-links {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.login-link {
  color: #070707;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-link:hover {
  color: #616060;
}
