* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
 min-height: 100vh;
  overflow-y: auto;
  
}
body::-webkit-scrollbar {
  display: none;
}
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
